body{
    background: #0d0808;
background: linear-gradient(90deg, rgba(13, 8, 8, 1) 0%, rgba(99, 97, 97, 1) 50%, rgba(43, 43, 43, 1) 100%);
}
span{
    color: white;
}
h1{
    color: white;
}
.col-lg-6{
    border-style:solid ;
    border-color: white;
    border-radius: 30px;
}
b{
    text-align: center;
    font-size: 20px;
    color: white;
}

