body {
    background: #0d0808;
    background: linear-gradient(90deg, rgba(13, 8, 8, 1) 0%, rgba(99, 97, 97, 1) 50%, rgba(43, 43, 43, 1) 100%);
}
img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    display: block;
    border: 5px solid white;
    transition: transform 0.3s ease;
    animation: neonEffect 2s infinite alternate;
    animation-delay: 0.5s;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
span {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
}

@keyframes neonEffect {
    0% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
    }
    50% {
        text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff, 0 0 120px #00ffff;
    }
    100% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
    }
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    animation: neonEffect 2s infinite alternate;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
p {
    color: white;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.5;
}
.col-lg-6 {
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    word-wrap: break-word; 
    overflow-wrap: break-word;  
    white-space: normal; 
    overflow: hidden; 
    max-width: 100%; 
    padding: 20px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    animation: neonEffect 2s infinite alternate;
    animation-delay: 0.5s;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    line-height: 1.5;
    display: flex;
}

